<!-- partials/header.html -->
<header>
  <nav>
    <ul class="nav-list">
      <li><a href="index.html">Home</a></li>
      <li><a href="how-it-works.html">How it works</a></li>
      <li><a href="levels.html">Levels</a></li>
      <li id="progressLink"><a href="progress.html">Progress</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a id="signUpLink" href="register.html" class="btn-nav">Sign up</a></li>
      <li><a id="loginLink"  href="login.html"    class="btn-nav">Log in</a></li>
      <li id="greeting" style="display:none;"></li>
      <li><a id="logoutLink" href="#"             class="btn-nav" style="display:none;">Log out</a></li>
    </ul>
  </nav>
</header>